@model IEnumerable<Centric_Project.Models.recognitions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reason)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognizor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognitionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recognitionsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.recognitionsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recognitionsID })
        </td>
    </tr>
}

</table>
