@model Centric_Project.Models.recognitionUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>recognitionUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recognizor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.award)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.award)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recognitionUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
