@model IEnumerable<Centric_Project.Models.recognitionUser>

@{
    ViewBag.Title = "Recognitions";
}

<div class="alert alert-success">
    <h2>Awards to Employees for Demonstrating Centric's Core Values</h2>
</div>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-hover table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.recognizor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.recognizor)*@
            @Html.DisplayFor(modelItem => item.personGiving.fullName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.recognized)*@
            @Html.DisplayFor(modelItem => item.personReceiving.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recognitionUserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.recognitionUserID })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.recognitionUserID })*@
        </td>
    </tr>
}

</table>
