@model IEnumerable<Centric_Project.Models.userData>

@{
    ViewBag.Title = "Profile List";
}

<h2>Employee Profiles</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.businessUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.businessUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
