@*model IEnumerable<Centric_Project.Models.userData>*@
@model PagedList.IPagedList<Centric_Project.Models.userData>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Profile List";
}

<div class="alert alert-success">
    <h2>Employee Profiles</h2>
</div>


<br />
@using (Html.BeginForm("Index", "userData", FormMethod.Get))
{
    <p>
        Find by Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
<br />

<table class="table table-hover table-bordered table-condensed">
    <tr>
        <th>
            Full Name
        </th>

        <th>
            Business Unit
        </th>
        <th>
            Hire Date
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.businessUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hireDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.title)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) 
        @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
    </td>
</tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
